<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <array name="StreamingConfiguration" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="name">WxIBMEventStreamsDemo_IBMEventStream</value>
        <value name="description">Demo of using IBM event streams</value>
        <value name="package">WxIBMEventStreamsDemo</value>
        <value name="type">Kafka</value>
        <value name="host">my-kafka-cluster-kafka-external-bootstrap-event-automation.apps.ea-demo.cp.fyre.ibm.com:443</value>
        <value name="clientId">jc_</value>
        <value name="other_properties">key.deserializer=org.apache.kafka.common.serialization.StringDeserializer
ssl.protocol=TLSv1.2
value.deserializer=org.apache.kafka.common.serialization.StringDeserializer
group.id=wm-jc-poc-starter-app-starter-consumer
acks=1
bootstrap.servers=my-kafka-cluster-kafka-external-bootstrap-event-automation.apps.ea-demo.cp.fyre.ibm.com:443
key.serializer=org.apache.kafka.common.serialization.StringSerializer
ssl.truststore.type=PKCS12
security.protocol=SASL_SSL
enable.auto.commit=false
value.serializer=org.apache.kafka.common.serialization.StringSerializer
ssl.truststore.location=./packages/WxIBMEventStreamsDemo/config/truststore.p12
sasl.mechanism=SCRAM-SHA-512
sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required username="wm-jc-poc-starter-app" password="[*****]" ;
topic=Temperature
ssl.truststore.password=[*****]
auto.offset.reset=earliest
client.id=wm-jc-poc-starter-app-starter-app</value>
        <value name="other_runtime_properties">value.deserializer=org.apache.kafka.common.serialization.StringDeserializer
group.id=wm-jc-poc-starter-app-starter-consumer
bootstrap.servers=my-kafka-cluster-kafka-external-bootstrap-event-automation.apps.ea-demo.cp.fyre.ibm.com:443
key.serializer=org.apache.kafka.common.serialization.StringSerializer
enable.auto.commit=false
sasl.mechanism=SCRAM-SHA-512
sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required username="wm-jc-poc-starter-app" password="[*****]" ;
ssl.truststore.password=[*****]
client.id=wm-jc-poc-starter-app-starter-app
streaming.client.publish.mode=asynchronous
key.deserializer=org.apache.kafka.common.serialization.StringDeserializer
ssl.protocol=TLSv1.2
acks=1
ssl.truststore.type=PKCS12
security.protocol=SASL_SSL
streaming.consumer.validate.consumers.not.greater.than.partitions=true
value.serializer=org.apache.kafka.common.serialization.StringSerializer
ssl.truststore.location=./packages/WxIBMEventStreamsDemo/config/truststore.p12
topic=Temperature
auto.offset.reset=earliest</value>
        <value name="enabled">true</value>
        <value name="securityProtocol">SASL_SSL</value>
        <value name="truststoreAlias">ES_IBM_CLUSTER</value>
        <value name="keystoreAlias"></value>
        <null name="keystoreKeyAlias"/>
        <array name="subjects" type="record" depth="1">
          <record javaclass="com.wm.data.ISMemDataImpl">
            <value name="referenceId">Temperature</value>
            <value name="topicName">Temperature</value>
            <record name="keyCoder" javaclass="com.wm.data.ISMemDataImpl">
              <value name="type">STRING</value>
              <value name="type_display">String</value>
              <record name="parameters" javaclass="com.wm.data.ISMemDataImpl">
                <array name="nameValue" type="record" depth="1">
                  <record javaclass="com.wm.data.ISMemDataImpl">
                    <value name="name">charsetName</value>
                    <value name="value">UTF-8</value>
                  </record>
                </array>
              </record>
              <value name="charsetName">UTF-8</value>
            </record>
            <record name="valueCoder" javaclass="com.wm.data.ISMemDataImpl">
              <value name="type">JSON</value>
              <value name="type_display">JSON</value>
              <record name="parameters" javaclass="com.wm.data.ISMemDataImpl">
                <array name="nameValue" type="record" depth="1">
                  <record javaclass="com.wm.data.ISMemDataImpl">
                    <value name="name">charsetName</value>
                    <value name="value">UTF-8</value>
                  </record>
                  <record javaclass="com.wm.data.ISMemDataImpl">
                    <value name="name">documentTypeName</value>
                    <value name="value">wx.eventstreams.common:Temperature</value>
                  </record>
                  <record javaclass="com.wm.data.ISMemDataImpl">
                    <value name="name">schema</value>
                    <null name="value"/>
                  </record>
                </array>
              </record>
              <value name="documentTypeName">wx.eventstreams.common:Temperature</value>
              <value name="charsetName">UTF-8</value>
              <null name="schema"/>
            </record>
            <value name="aliasName">WxIBMEventStreamsDemo_IBMEventStream</value>
          </record>
        </array>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="name">WxIBMEventStreamsDemo_IBMEventStream_SaaS</value>
        <value name="description">EventStreams Catalogue App</value>
        <value name="package">WxIBMEventStreamsDemo</value>
        <value name="type">Kafka</value>
        <value name="host">https://broker-4-bwf0w5kgsmz9m08s.kafka.svc11.us-south.eventstreams.cloud.ibm.com:9093</value>
        <value name="clientId">jc_</value>
        <value name="other_properties">security.protocol=SASL_SSL
ssl.protocol=TLSv1.2
sasl.mechanism=PLAIN
ssl.enabled.protocols=TLSv1.2
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="token" password="[*****]" ;
bootstrap.servers=broker-4-bwf0w5kgsmz9m08s.kafka.svc11.us-south.eventstreams.cloud.ibm.com:9093,broker-1-bwf0w5kgsmz9m08s.kafka.svc11.us-south.eventstreams.cloud.ibm.com:9093,broker-2-bwf0w5kgsmz9m08s.kafka.svc11.us-south.eventstreams.cloud.ibm.com:9093,broker-0-bwf0w5kgsmz9m08s.kafka.svc11.us-south.eventstreams.cloud.ibm.com:9093,broker-3-bwf0w5kgsmz9m08s.kafka.svc11.us-south.eventstreams.cloud.ibm.com:9093,broker-5-bwf0w5kgsmz9m08s.kafka.svc11.us-south.eventstreams.cloud.ibm.com:9093
ssl.endpoint.identification.algorithm=HTTPS</value>
        <value name="other_runtime_properties">ssl.protocol=TLSv1.2
ssl.enabled.protocols=TLSv1.2
bootstrap.servers=broker-4-bwf0w5kgsmz9m08s.kafka.svc11.us-south.eventstreams.cloud.ibm.com:9093,broker-1-bwf0w5kgsmz9m08s.kafka.svc11.us-south.eventstreams.cloud.ibm.com:9093,broker-2-bwf0w5kgsmz9m08s.kafka.svc11.us-south.eventstreams.cloud.ibm.com:9093,broker-0-bwf0w5kgsmz9m08s.kafka.svc11.us-south.eventstreams.cloud.ibm.com:9093,broker-3-bwf0w5kgsmz9m08s.kafka.svc11.us-south.eventstreams.cloud.ibm.com:9093,broker-5-bwf0w5kgsmz9m08s.kafka.svc11.us-south.eventstreams.cloud.ibm.com:9093
security.protocol=SASL_SSL
streaming.consumer.validate.consumers.not.greater.than.partitions=true
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="token" password="[*****]" ;
ssl.endpoint.identification.algorithm=HTTPS
streaming.client.publish.mode=asynchronous</value>
        <value name="enabled">true</value>
        <value name="securityProtocol">SASL_SSL</value>
        <value name="truststoreAlias"></value>
        <value name="keystoreAlias"></value>
        <null name="keystoreKeyAlias"/>
        <array name="subjects" type="record" depth="1">
          <record javaclass="com.wm.data.ISMemDataImpl">
            <value name="referenceId">Temperature</value>
            <value name="topicName">Temperature</value>
            <record name="keyCoder" javaclass="com.wm.data.ISMemDataImpl">
              <value name="type">STRING</value>
              <value name="type_display">String</value>
              <record name="parameters" javaclass="com.wm.data.ISMemDataImpl">
                <array name="nameValue" type="record" depth="1">
                  <record javaclass="com.wm.data.ISMemDataImpl">
                    <value name="name">charsetName</value>
                    <value name="value">UTF-8</value>
                  </record>
                </array>
              </record>
              <value name="charsetName">UTF-8</value>
            </record>
            <record name="valueCoder" javaclass="com.wm.data.ISMemDataImpl">
              <value name="type">JSON</value>
              <value name="type_display">JSON</value>
              <record name="parameters" javaclass="com.wm.data.ISMemDataImpl">
                <array name="nameValue" type="record" depth="1">
                  <record javaclass="com.wm.data.ISMemDataImpl">
                    <value name="name">charsetName</value>
                    <value name="value">UTF-8</value>
                  </record>
                  <record javaclass="com.wm.data.ISMemDataImpl">
                    <value name="name">documentTypeName</value>
                    <null name="value"/>
                  </record>
                  <record javaclass="com.wm.data.ISMemDataImpl">
                    <value name="name">schema</value>
                    <null name="value"/>
                  </record>
                </array>
              </record>
              <null name="documentTypeName"/>
              <value name="charsetName">UTF-8</value>
              <null name="schema"/>
            </record>
            <value name="aliasName">WxIBMEventStreamsDemo_IBMEventStream_SaaS</value>
          </record>
        </array>
      </record>
    </array>
  </record>
</IDataXMLCoder>
